@import "../bootstrap/css/bootstrap.min.css";

.app-container {
  margin-top:40px;
}

.display-none {
  display: none;
}

.capitalize {
  text-transform: capitalize;
}

.members-container {
 margin-top: 40px;
}

.single-member-container {
  margin: 20px 0;
  min-height: 200px;
  &:after {
    display: block;
    content: "";
    clear: both;
  }
}
.member-image-container {
  float: left;
  width: 45%;
}
.member-info-container {
  float: left;
  width: calc(55% - 10px);
  margin-left: 10px;
}

.member-portrait {
  height: auto;
  width: 100%;
}
.readmore-btn {
  background: none;
  border: 1px solid gray;
  outline: 0;
  outline: none !important;
  &:hover {
    background: lighten(gray,10%);
    color: white;
  }
  &:active {
    background: lighten(gray,15%);
    color: white;
  }


}



.offset-top-40 {
  margin-top: 40px;
}
